.searchbar-input {
    background-color: #fff;
    width: 350px;
    max-width: 80% !important;
    /* height: 30px; */
    border-radius: 4px;
    border-color: transparent;
    font-size: 18px;
    padding: 10px 15px;
}